@import url('https://fonts.googleapis.com/css?family=Raleway');

form{
 max-width: 100em;
 margin: 4em auto;
 position: relative;
 background: #f4f4f4;
 padding: 2em 3em;
 /* mise en forme globale carré fond gris */
}

form h1{
    font-family: "Raleway";
    /* style écriture titre principal*/
}

form .input-group-text{
    background: #F97300;
    border-radius: 50%;
    position: absolute;
    right : 0px;
    width: 5em;
    height: 5em;
    padding: 1em 23px;
    color: #fff;
    cursor: pointer;
    bottom: 0;
    /* droite, couleur orange et forme du bouton rond +
    curseur avec la main sur le bouton */
}

form .input-group-text i{
    font-size: 2em;
    /*Placement de la croix au centre du bouton rond orange + */
}